.factory {
    height: 150px;
    width: 150px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    color: black;
    align-content: center;
}

.factoryContents {
    /* Found with trig, sqrt(2) * (factoryHeight or factoryWidth) respectively */
    height: 106px;
    width: 106px;
    display: inline-grid;
    grid-auto-columns: 53px;
    grid-auto-rows: 53px;
    justify-items: center;
    align-items: center;
}